<p id="notice"><%= notice %></p>

<h1>Lists</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <%= render :partial => 'form', :locals => {:list => list } %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
